.project-card {
	padding: 5vh 3vw 3vh 3vw;
	margin: 0 1vw 4vh 1vw;
	border-radius: 5px;
	/* background-color: rgb(27, 21, 66); */
}

.project-card p {
	font-size: 1.1rem;
}

.project-image {
	display: block;
	max-width: 100%;
	border-radius: 5px;
	margin: 0 auto 1.5rem;
}

.project-title {
	font-size: 1.3rem;
	margin-bottom: 0.75rem;
}

.project-desc {
	margin-bottom: 0.75rem;
	line-height: 1.2;
}

.project-tech {
	margin-bottom: 0.75rem;
	line-height: 1.5;
}

.project-icon {
	margin: 0 1rem 2.5rem 0;
	color: var(--tropical-indigo);
}

@media (min-width: 1000px) {
	.project-card {
		max-width: 440px;
		padding: 2vh 1vw 1vh 1vw;
	}
}
