.project-card {
	padding: 5vh 5vw;
	margin-bottom: 4vh;
	border-radius: 5px;
	background-color: #120e2bff;
}

.project-image {
	display: block;
	max-width: 100%;
	border-radius: 5px;
	margin: 0 auto 1.5rem;
}

.project-title {
	font-size: 1.3rem;
	margin-bottom: 0.75rem;
}

.project-desc {
	margin-bottom: 0.75rem;
	line-height: 1.2;
	font-size: 1.1rem;
	color: var(--periwinkle);
	font-weight: 200;
}

.project-tech {
	margin-bottom: 0.75rem;
	line-height: 1.5;
	font-size: 1.1rem;
	color: var(--jonquil);
	font-weight: 200;
}

.project-links {
	margin-bottom: 1rem;
}

.project-icon {
	padding: 5px;
	color: var(--tropical-indigo);
}

.live-project-icon {
	margin-left: 1rem;
}

@media (min-width: 1000px) {
	.project-card {
		max-width: 440px;
		padding: 3vh 3vw;
		margin: 0 1vw 4vh 1vw;
	}
}
