#projects {
	scroll-margin-top: 16vh;
}

#projects-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.button {
	padding: 1rem;
	border-radius: 5px;
	background-color: rgba(197, 184, 255, 0.25); /* transparent periwinkle */
	border: solid 2px var(--periwinkle);
	color: var(--periwinkle);
	margin: 2rem auto 3rem auto;
	display: block;
	font-size: 1.2rem;
}

.button:hover,
.button:focus {
	border: solid 2px var(--accent);
	cursor: pointer;
	color: var(--accent);
	background-color: rgb(255, 164, 79, 0.25); /* transparent accent */
}

@media (min-width: 1000px) {
	#projects-container {
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
	}
}
