#projects-heading {
	font-size: 1rem;
	margin-bottom: 2rem;
}

#projects-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

@media (min-width: 1000px) {
	#projects-container {
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
	}
}
