.skip-link {
	padding: 1rem;
	color: var(--tropical-indigo);
	position: absolute;
	top: -40px;
	left: 50%;
	-webkit-transition: top 0.5s ease-out;
	transition: top 0.5s ease-out;
	z-index: 100;
}

.skip-link:focus {
	position: absolute;
	left: 50%;
	top: 0px;
	-webkit-transition: top 0.05s ease-in;
	transition: top 0.05s ease-in;
}
