header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.5vw 3vw 0 3vw;
	height: 16vh;
	width: 100%;
	position: sticky;
	top: 0;
	font-size: 1.2rem;
	background-color: #1b1542;
}

#logo {
	margin: 1.6rem 0 0 0;
	padding: 0.5rem;
	text-decoration: none;
	color: var(--tropical-indigo);
}

#logo :visited {
	color: var(--tropical-indigo);
}

nav {
	display: none;
	flex-direction: column;
	justify-content: flex-end;
}

nav.open {
	display: flex;
	margin-top: 1.25rem;
	background-color: #1b1542;
}

header div .menu {
	position: absolute;
	top: 6vh;
	right: 6vw;
	width: 2.25rem;
	height: 2rem;
	color: var(--tropical-indigo);
	border: none;
	background-color: #1b1542;
}

nav a {
	text-decoration: none;
	color: var(--tropical-indigo);
	border-radius: 0.5rem;
	align-self: flex-end;
	margin: 0.2rem 0.5rem;
	padding: 0.5rem;
}

nav a:hover {
	text-decoration: underline;
}

nav a:visited {
	color: var(--tropical-indigo);
}

.nav-icon {
	color: var(--jonquil);
	margin: 2px 0 0 8px;
}

/* tablet & larger */
@media (min-width: 576px) {
	header {
		flex-direction: row;
		align-items: center;
	}

	#logo {
		padding: 0.5rem;
		margin: 0;
	}

	nav {
		display: flex;
		flex-direction: row;
		padding-top: 0;
	}

	nav a {
		align-self: center;
	}
}
