header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1.5vw 3vw 0 3vw;
	height: 16vh;
	width: 100%;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	font-size: 1.2rem;
}

#logo {
	padding-left: 16px;
}
