header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1.5vw 3vw 0 3vw;
	height: 16vh;
	width: 100%;
	/* position: -webkit-sticky; */
	position: sticky;
	top: 0;
	font-size: 1.2rem;
}

#logo {
	margin: 1rem;
	text-decoration: none;
	color: var(--tropical-indigo);
}

#logo :visited {
	color: var(--tropical-indigo);
}

nav {
	display: flex;
}

header .menu {
	display: none;
	position: absolute;
	top: 3vh;
	right: 3vw;
	flex-direction: column;
	justify-content: space-between;
	width: 2.25rem;
	height: 2rem;
}

header .menu span {
	height: 0.3rem;
	width: 100%;
	background-color: var(--tropical-indigo);
	border-radius: 0.2rem;
}

nav a {
	text-decoration: none;
	padding: 0.5rem;
	margin: 0 0.5rem;
	color: var(--tropical-indigo);
	align-self: center;
	border-radius: 0.5rem;
}

nav a:hover {
	text-decoration: underline;
}

nav a:visited {
	color: var(--tropical-indigo);
}

.nav-icon {
	color: var(--jonquil);
	margin: 2px 0 0 8px;
}

@media (max-width: 480px) {
	header .menu {
		display: flex;
	}

	header {
		flex-direction: column;
		align-items: start;
	}

	nav {
		display: none;
		flex-direction: column;
		justify-content: flex-end;
		width: 100%;
		margin-bottom: 0.25rem;
	}

	nav.open {
		display: flex;
	}

	nav a {
		align-self: flex-end;
		margin: 0.2rem 0.5rem;
	}
}
