header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1.5vw 3vw 0 3vw;
	height: 16vh;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	font-size: 1.2rem;
}

#logo {
	padding-left: 16px;
}

nav {
	display: flex;
}
/* TODO: add clicked styling */
nav a {
	text-decoration: none;
	padding: 0 16px;
}

.header-icon {
	color: var(--tropical-indigo);
	margin: 2px 0 0 8px;
}
