:root {
	--dark-purple: #120e2bff;
	--tropical-indigo: #9683ecff;
	--periwinkle: #c5b8ffff;
	--black-olive: #36392eff;
	--jonquil: #f0c808ff;
	font-family: sans-serif;
	font-size: 16px;
	color: var(--tropical-indigo);
}

* {
	/* border: 1px solid red; */
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.app {
	height: 100%;
	width: 100%;
}

main {
	padding: 0 3vw;
}

hr {
	height: 3px;
	border-width: 0;
	background-color: var(--tropical-indigo);
	margin: 16px auto;
}

/* use to visually hide elements, but remain available to screen readers */
.hidden {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	/* overflow: hidden; */
	padding: 0;
	position: absolute;
}

@media (max-width: 767px) {
	main {
		padding: 0 6vw;
	}
}
