:root {
	--dark-purple: rgb(18, 14, 43);
	--tropical-indigo: rgb(150, 131, 236);
	--periwinkle: rgb(197, 184, 255);
	--jonquil: rgb(240, 200, 8);
	font-family: sans-serif;
	font-size: 16px;
	color: var(--tropical-indigo);
	background-color: rgb(27, 21, 66);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

.app {
	height: 100%;
	width: 100%;
}

main {
	padding: 0 6vw;
}

hr {
	height: 3px;
	border-width: 0;
	background-color: var(--tropical-indigo);
	margin: 16px auto;
}

/* use to visually hide elements, but remain available to screen readers */
.hidden {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

@media (min-width: 768px) {
	main {
		padding: 0 3vw;
	}
}
