nav {
	display: flex;
}

nav a {
	text-decoration: none;
	padding: 0 16px;
	color: var(--tropical-indigo);
	align-self: center;
}

nav a:visited {
	color: var(--tropical-indigo);
}

.nav-icon {
	color: var(--jonquil);
	margin: 2px 0 0 8px;
}
